.game {
  background-image: url("../assets/bg.jpg");
  background-color: rgb(2, 119, 109);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: cursive;
  margin: 0;
  padding: 0;
  height: 100%;
}
.game_board {
  display: flex;
  flex-direction: column;
  width: 100vw; 
  height: 100vh; 
  justify-content: center;
  align-items: center;
}

.game_board_header {
  background-color: yellowgreen;
  border: 6px solid turquoise;
  width: 20%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  margin-top: 4%;
  margin-bottom: 2%;
}

.game_board_header_text {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 100%;
  padding: 5%;
}

.game_board_body {
  display: flex;
  flex-direction: row;
  gap: 10%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
}

.game_board_footer {
  background-color: yellowgreen;
  border: 6px solid turquoise;
  width: 20%;
  height: 8%;
  margin-top: 2%;
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  cursor: pointer;
}

.game_board_footer_text {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 100%;
  padding: 5%;
}

.game_grid {
  height: 84%;
  width: 30%;
  padding: 1%;
  display: grid;
  grid-template-columns: repeat(6, 13%);
  grid-template-rows: repeat(6, 13%);
  gap: 4%;
  background-color: yellowgreen;
  border: 8px solid turquoise;
  border-radius: 10%;
}
.game_circle {
  height: 100%;
  width: 100%;
  border: black;
  border-radius: 50%;
  border-style: solid;
}
.player0 {
  background-color: wheat;
}
.player1 {
  background-color: brown;
}
.player2 {
  background-color: teal;
}

.player_turn_on {
  background-color: yellowgreen;
  border: 10px solid turquoise;
  border-radius: 30%;
  width: 10%;
  height: 20%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player_turn_off {
  background-color: cadetblue;
  border: 10px solid rgb(97, 91, 91);
  border-radius: 30%;
  width: 10%;
  height: 20%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player_turn_on_text {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 90%;
  height: auto;
  text-align: center;
}

.player_turn_off_text {
  text-align: center;
  color: rgb(162, 182, 182);
  font-weight: bold;
  font-size: 90%;
  height: auto;
  text-align: center;
}
